MY_DB_URL=jdbc:postgresql://your-host:port/postgres
MY_DB_USER=your-username
MY_DB_PASSWORD=your-password
MY_APIFY_TOKEN=your-token-here
MY_SECRET_KEY=your-long-secret-key-here
MY_EXPIRATION_TIME=86400000

MAIL_USERNAME=your-email@gmail.com
MAIL_PASSWORD=your-app-password